.pull-right {
    text-align: right;
}

.center-child { /* This is the item to center... */
    display: inline-block;
}

.center-parent { /* ...and this is its parent container. */
    text-align: center;
}


.button {
    color:#fff;
}
.top-nav {
    background-color: #ef5b3c;
    color:#fff;
}
.top-nav .center {
    margin-left:auto;
    margin-right:auto;
}

.bottom-page {
    padding-bottom: 48px;
}

#index-data {
    border-bottom: solid 2px #fbd2ca;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 30px;
}

#index-name {
    text-align: right;
}

#index-price {
    position: relative;
}

#index-price-change {
    margin: 0 8px;
}

.price-up {
    color: red;
    text-align: left;
}

    .price-up #index-price {
    }

.price-down {
    color: green;
    text-align: left;
}

.arrow {
    width: 10px;
    height: 12px;
    position: relative;
    display: inline-block;
}

    .arrow:before, .arrow:after {
        content: '';
        border-color: transparent;
        border-style: solid;
        position: absolute;
    }

.price-up .arrow:before {
    border: none;
    background-color: red;
    height: 60%;
    width: 20%;
    top: 36%;
    left: 40%;
}

.price-up .arrow:after {
    left: 0;
    top: -50%;
    border-width: 5px 5px;
    border-bottom-color: red;
}

.price-down .arrow:before {
    border: none;
    background-color: green;
    height: 50%;
    width: 20%;
    top: 0;
    left: 40%;
}

.price-down .arrow:after {
    left: 0;
    top: 50%;
    border-width: 5px 5px;
    border-top-color: green;
}


#candidate {
    border-radius: 8px;
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    margin: 15px auto 15px auto;
    padding: 15px 0;
    position: relative;
    font-weight: bold;
}

#vs {
    position: absolute;
    top: 40%;
    left: 48%;
}

#candidate ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.candidate-date {
    font-size: large;
}

#bet-percentage {
    position: relative;
    padding: 0;
    margin: 15px auto;
}

.bet-percent {
    position: absolute;
    font-weight: bold;
    width: 40px;
    font-size: 1.2em;
    top: 18px;
}

#bet-explain {
    width: calc(100% - 140px);
    margin: auto;
    line-height: 2em;
    font-size: small;
}

#percentage-bar {
    position: absolute;
    top: 21px;
}

#rose-percent {
    left: 0;
    text-align: right;
}

#fall-percent {
    right: 0;
}

#bet-selection, #bet-options {
    height: 150px;
    margin-bottom: 0;
}

    #bet-selection .disabled {
        background-color: #ccc;
        border-color: #ccc;
    }

.option-panel {
    position: relative;
    height: 120px;
}

.bet-status-icon {
    display: block;
    list-style: none;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    border-width: 2px;
    text-align: center;
    position: absolute;
}

#betted-txt {
    position: absolute;
    font-size: 15px;
    top: 25px;
    line-height: 1em;
    text-align: center;
    width: 100%;
}

#betted-amount {
    position: absolute;
    font-size: 15px;
    bottom: 25px;
    line-height: 1em;
    text-align: center;
    width: 100%;
}



#bet-rose-status, #bet-rose-selection {
    background-color: #f47b65;
    border-color: #f2735c;
    right: 5px;
}

#bet-fall-status, #bet-fall-selection {
    background-color: #4cc164;
    border-color: #49b35f;
    left: 5px;
}

.betted-selection {
    background-image: url(../img/bgs.png);
    background-repeat: no-repeat;
    background-position: -273px 42px;
}
    .betted-selection .betted-for {
        display:none;
    }

@-moz-keyframes left-normal-selected {
    from {
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
        right: 5px;
        top: 0;
    }

    to {
        right: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@-webkit-keyframes left-normal-selected {
    from {
        width: 120px;
        height: 120px;
        line-height: 120px;
       /* font-size: 1.8em;*/
        right: 5px;
        top: 0;
    }

    to {
        right: -67.5px;
        top: 0;
       /* font-size: 1.8em;*/
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@keyframes left-normal-selected {
    from {
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
        right: 5px;
        top: 0;
    }

    to {
        right: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}

@-moz-keyframes left-unselected-selected {
    from {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }

    to {
        right: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@-webkit-keyframes left-unselected-selected {
    from {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
       /* font-size: 1.2em;*/
    }

    to {
        right: -67.5px;
        top: 0;
       /*font-size: 1.8em;*/
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@keyframes left-unselected-selected {
    from {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }

    to {
        right: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}

@-moz-keyframes  left-normal-unselected {
    from {
        right: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
    }

    to {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }
}
@-webkit-keyframes left-normal-unselected {
    from {
        right: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
       /* font-size: 1.8em;*/
    }

    to {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
       /* font-size: 1.2em;*/
    }
}
@keyframes left-normal-unselected {
    from {
        right: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
    }

    to {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }
}

@-moz-keyframes left-selected-unselected {
    from {
        right: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }

    to {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }
}
@-webkit-keyframes left-selected-unselected {
    from {
        right: -67.5px;
        top: 0;
       /* font-size: 1.8em;*/
        line-height: 120px;
        width: 120px;
        height: 120px;
    }

    to {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
       /* font-size: 1.2em;*/
    }
}
@keyframes left-selected-unselected {
    from {
        right: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }

    to {
        right: 55px;
        top: 20px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2em;
    }
}

@-moz-keyframes right-normal-selected {
    from {
        left: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
    }

    to {
        left: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@-webkit-keyframes right-normal-selected {
    from {
        left: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
       /* font-size: 1.8em;*/
    }

    to {
        left: -67.5px;
        top: 0;
       /* font-size: 1.8em;*/
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@keyframes right-normal-selected {
    from {
        left: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
    }

    to {
        left: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}

@-moz-keyframes right-unselected-selected {
    from {
        left: 55px;
        top: 20px;
        font-size: 1.2em;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }

    to {
        left: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@-webkit-keyframes right-unselected-selected {
    from {
        left: 55px;
        top: 20px;
       /* font-size: 1.2em;*/
        line-height: 80px;
        width: 80px;
        height: 80px;
    }

    to {
        left: -67.5px;
        top: 0;
       /* font-size: 1.8em;*/
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}
@keyframes right-unselected-selected {
    from {
        left: 55px;
        top: 20px;
        font-size: 1.2em;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }

    to {
        left: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }
}

@-moz-keyframes right-normal-unselected {
    from {
        left: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
    }

    to {
        left: 55px;
        top: 20px;
        font-size: 1.2em;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}
@-webkit-keyframes right-normal-unselected {
    from {
        left: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
       /* font-size: 1.8em;*/
    }

    to {
        left: 55px;
        top: 20px;
       /* font-size: 1.2em;*/
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}
@keyframes right-normal-unselected {
    from {
        left: 5px;
        top: 0;
        width: 120px;
        height: 120px;
        line-height: 120px;
        font-size: 1.8em;
    }

    to {
        left: 55px;
        top: 20px;
        font-size: 1.2em;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}

@-moz-keyframes right-selected-unselected {
    from {
        left: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }

    to {
        left: 55px;
        top: 20px;
        font-size: 1.2em;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}
@-webkit-keyframes right-selected-unselected {
    from {
        left: -67.5px;
        top: 0;
       /* font-size: 1.8em;*/
        line-height: 120px;
        width: 120px;
        height: 120px;
    }

    to {
        left: 55px;
        top: 20px;
       /* font-size: 1.2em;*/
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}
@keyframes right-selected-unselected {
    from {
        left: -67.5px;
        top: 0;
        font-size: 1.8em;
        line-height: 120px;
        width: 120px;
        height: 120px;
    }

    to {
        left: 55px;
        top: 20px;
        font-size: 1.2em;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}

.left-normal-selected {
    -moz-animation: 1s left-normal-selected forwards;
    -o-animation: 1s left-normal-selected forwards;
    -webkit-animation: 1s left-normal-selected forwards;
    animation: 1s left-normal-selected forwards;
}

.left-normal-unselected {
    -moz-animation: 1s left-normal-unselected forwards;
    -o-animation: 1s left-normal-unselected forwards;
    -webkit-animation: 1s left-normal-unselected forwards;
    animation: 1s left-normal-unselected forwards;
}

.left-selected-unselected {
    -moz-animation: 1s left-selected-unselected forwards;
    -o-animation: 1s left-selected-unselected forwards;
    -webkit-animation: 1s left-selected-unselected forwards;
    animation: 1s left-selected-unselected forwards;
}

.left-unselected-selected {
    -moz-animation: 1s left-unselected-selected forwards;
    -o-animation: 1s left-unselected-selected forwards;
    -webkit-animation: 1s left-unselected-selected forwards;
    animation: 1s left-unselected-selected forwards;
}

.right-normal-selected {
    -moz-animation: 1s right-normal-selected forwards;
    -o-animation: 1s right-normal-selected forwards;
    -webkit-animation: 1s right-normal-selected forwards;
    animation: 1s right-normal-selected forwards;
}

.right-normal-unselected {
    -moz-animation: 1s right-normal-unselected forwards;
    -o-animation: 1s right-normal-unselected forwards;
    -webkit-animation: 1s right-normal-unselected forwards;
    animation: 1s right-normal-unselected forwards;
}

.right-selected-unselected {
    -moz-animation: 1s right-selected-unselected forwards;
    -o-animation: 1s right-selected-unselected forwards;
    -webkit-animation: 1s right-selected-unselected forwards;
    animation: 1s right-selected-unselected forwards;
}

.right-unselected-selected {
    -moz-animation: 1s right-unselected-selected forwards;
    -o-animation: 1s right-unselected-selected forwards;
    -webkit-animation: 1s right-unselected-selected forwards;
    animation: 1s right-unselected-selected forwards;
}



#bet-amount-zone {
    padding: 20px 15px;
}
#bet-amount-zone b{
    line-height:36px;
}

#bet-amount-value {
    border: none;
    height:30px;
    line-height:30px;
    font-size:14px;
    color:#6d6d72
}

#user-balance {
    font-size: 0.8em;
    margin: 10px 0 30px 0;
}

#the-balance {
    color: #f26b41;
}

#submit-button, #confirm-button {
    width: 85%;
    margin: 10px auto;
    background-color: #f05b3c;
    border-color: #f05b3c;
    border-radius: 1px;
    height: 35px;
    line-height: 35px;
}
#confirm-button {
    margin-top:30px;
}

#betted-section .button {
    border: none;
    color: #737384;
    text-align: center;
    font-size: 0.8em;
    line-height: 86px;
    height: 50px;
    overflow: hidden;
    background-image: url(../img/bgs.png);
    background-repeat: no-repeat;
}

#add-bet .button {
    background-position: 37px 0;
}

#update-bet .button {
    background-position: -48px 0;
}

#cancel-bet .button {
    background-position: -130px 0;
}

#delegate-bet .button {
    background-position: -214px 0;
}

#bet-end-section {
    text-align: center;
    color: #9c9c9c;
}

    #bet-end-section h3 {
        margin: 5px 0;
    }

#betted-section, #bet-end-section {
    margin-top:5px;
    display: none;
}


#delegate-success {
    display: none;
    text-align: center;
    margin:0;
}

    #delegate-success > h2 {
        margin-top:0;
        font-size: 2.4em;
        font-weight: normal;
    }

    #delegate-success > p {
        margin: 0;
    }

#product-timing {
    text-align: center;
    font-size: 12px;
    height: 60px;
    color: #555;
    background-color: #f3f3f3;
    margin: 0;
}

    #product-timing > .row > div + div {
        border-left: 1px solid #e4e4e4;
    }

.product-time {
    font-size: 13px;
}
